<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/app.js"></script>
</head>
<body>

<form>
  <input type="text" id="field" />
  <button type="submit" id="submit" >Submit</button>
</form>
<table>
  <thead>
  <td>Fields</td>
  </thead>
  <tbody id="fields">
  <tr th:each="data: ${datas}" >
    <td th:text="${data.getText()}" />
  </tr>
  </tbody>
</table>
</body>
</html>